body {
    background-color: #ADD8E6;
}

.full-page {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.logo {
    text-align: center;
    /* background-color: red; */
    margin-top: 4vh;
    margin-bottom: 30px;
}

.form {

    text-align: center;

}

form {
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 0;
    border-radius: 20px 20px 20px 0;
    
}

input {
    width: 350px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(210, 212, 214);
    /* background-color: rgb(241, 235, 235); */
    /* opacity: 0.1; */
    font-size: 15px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-left: 10px;
    color: #000;
}

datalist {
    width: 360px;
    height: 60px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(210, 212, 214);
    margin: 10px 0;
    color: #000;
    
}

.login a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

.login {
    margin: 40px 0;
}

.label-input {
    text-align: left;
    margin-left: 4vw;
    font-size: 13px;
}

.align {
    /* text-align: ; */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #083e9e;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form p {
    text-align: center;
    font-weight: 400;
    color: #4a5568;
    font-size: 12px;
    /* font-family: karla; */
    margin-top: -12px;
    margin-bottom: 30px;
}

button {
    background-color: #083e9e;
    color: white;
    border-radius: 20px 20px 20px 0;
    text-align: center;
    /* margin-top: 20px; */
    width: 365px;
    height: 70px;
    margin: 30px 0;
}

button:hover {
    cursor: pointer;
}